<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242380418674-tr46uvrbmjculb6q6plb4bu0mv54u0ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242380418674-tr46uvrbmjculb6q6plb4bu0mv54u0ks</string>
	<key>API_KEY</key>
	<string>AIzaSyBZBim2Lz5mNkBqnmI2on_Vre38mt60sbg</string>
	<key>GCM_SENDER_ID</key>
	<string>242380418674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedwagdy4153.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shop-app-dff3e</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-dff3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242380418674:ios:438be8dceaf325b6df1ceb</string>
</dict>
</plist>